version: '3.8'
services:
  crypto-application:
    image: crypto-application:latest
    container_name: crypto-application
    build:
      context: ./investorbot
      dockerfile: ./Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - $HOME/.aws/credentials:/app/.aws/credentials:ro
      # - $HOME/repos/stupidinvestorbot/app.db:/investorbot/app.db
    environment:
      AWS_ACCESS_KEY_ID: 'DUMMYIDEXAMPLE'
      AWS_SECRET_ACCESS_KEY: 'DUMMYEXAMPLEKEY'
      CRYPTO_KEY: ${CRYPTO_KEY}
      CRYPTO_SECRET_KEY: ${CRYPTO_SECRET_KEY}
      INVESTOR_APP_PATH: /investorbot/
      INVESTOR_APP_ENVIRONMENT: Development
      INVESTOR_APP_INTEGRATION: SIMULATED
      REGION: 'eu-west-1'
      SENDER_EMAIL: ${SENDER_EMAIL}
      SENDER_PASSWORD: ${SENDER_PASSWORD}
      RECIPIENT_EMAIL: ${RECIPIENT_EMAIL}
    command: [ "sh", "-c", "cd .. && python -m investorbot run-api --host 0.0.0.0 --port 8080" ]
  web-application:
    container_name: web-application
    # The name of the image that will be created when building this container
    image: web-application:latest
    build:
      context: ./web
      dockerfile: Dockerfile
    user: "node"
    environment:
      - NODE_ENV=production
      - PUBLIC_API_HOST=http://crypto-application:8080
    restart: unless-stopped
    ports:
      - 3000:3000
