version: '3.8'
services:
  crypto-application:
    image: crypto-application:latest
    container_name: crypto-application
    build:
      context: ./investorbot
      dockerfile: ./Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - $HOME/.aws/credentials:/app/.aws/credentials:ro
      - $HOME/repos/stupidinvestorbot/app.db:/investorbot/app.db
    environment:
      AWS_ACCESS_KEY_ID: 'DUMMYIDEXAMPLE'
      AWS_SECRET_ACCESS_KEY: 'DUMMYEXAMPLEKEY'
      CRYPTO_KEY: ${CRYPTO_KEY}
      CRYPTO_SECRET_KEY: ${CRYPTO_SECRET_KEY}
      INVESTOR_APP_PATH: /investorbot/
      INVESTOR_APP_ENVIRONMENT: Development
      REGION: 'eu-west-1'
      SENDER_EMAIL: ${SENDER_EMAIL}
      SENDER_PASSWORD: ${SENDER_PASSWORD}
      RECIPIENT_EMAIL: ${RECIPIENT_EMAIL}
    command: [ "sh", "-c", "cd .. && python -m investorbot run-api 0.0.0.0 8080" ]
  market-simulator:
    image: market-simulator:latest
    container_name: market-simulator
    build:
      context: ./marketsimulator
      dockerfile: ./Dockerfile
    ports:
      - "8081:8081"
    volumes:
      - $HOME/repos/stupidinvestorbot/market_simulator.db:/marketsimulator/market_simulator.db
    environment:
      MARKET_SIMULATOR_APP_PATH: /marketsimulator/
    command: [ "sh", "-c", "cd .. && python -m marketsimulator run 0.0.0.0 8081" ]
