version: '3.8'
services:
  dynamodb-local:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest"
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal
  crypto-application:
    image: crypto-application:latest
    container_name: crypto-application
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 8080:8080
      - 5678:5678
    volumes:
      - $HOME/.aws/credentials:/app/.aws/credentials:ro
    depends_on:
      - "dynamodb-local"
    links:
      - "dynamodb-local"
    environment:
      AWS_ACCESS_KEY_ID: 'DUMMYIDEXAMPLE'
      AWS_SECRET_ACCESS_KEY: 'DUMMYEXAMPLEKEY'
      REGION: 'eu-west-1'
    command:
      [
        "sh",
        "-c",
        "pip install debugpy -t /tmp && python /tmp/debugpy --wait-for-client --listen 0.0.0.0:5678 /usr/local/bin/chalice local --host 0.0.0.0 --port 8080 --no-autoreload"
      ]
