{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Investments{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    {% for order_detail in order_details %}
    <div class="card" style="width: 36rem;">
        <div class="card-body">
            <h5 class="card-title">{{ order_detail.coin_name }}</h5>
            <p class="card-text">Stupid Investor Bot purchased {{ order_detail.quantity }} of this coin. As it
                has been {{ order_detail.hours_since_order }} hours since the buy order, the app will accept a {{
                order_detail.minimum_acceptable_value_ratio }} return on this coin.</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}