{% extends 'base.html' %}
{% set time_series_data = market_analysis.ts_data %}

{% block header %}
<h1>{% block title %}Current Market Analysis{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="col-md-6">
    <div>Time of analysis: {{ market_analysis.creation_date }}</div>
    <div>Market characterization: {{ market_analysis.confidence_description }}</div>
    <div>Analysis requires update: {{ market_analysis.requires_update }}</div>
    <canvas id="graph-display" style="width:600px;height:250px;"></canvas>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Summary ID</th>
                <th>Coin Name</th>
                <th>Percentage Standard Deviation</th>
                <th>Trend Line Gradient</th>
                <th>Trend Line Offset</th>
            </tr>
        </thead>
        <tbody>
            {% for ts_data in time_series_data %}
            <tr>
                <th scope="row">{{ts_data.summary_id}}</td>
                <td>{{ts_data.coin_name}}</td>
                <td>{{ts_data.percentage_std}}%</td>
                <td>{{ts_data.line_of_best_fit_coefficient}}</td>
                <td>{{ts_data.line_of_best_fit_offset}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    window.coinNames = {{ market_analysis.coin_names | tojson | safe }};
</script>
<script src="{{ url_for('static', filename='bundle.js') }}"></script>
{% endblock %}